@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato:wght@300;400;700;900&display=swap");

:root {
  --primarySaddleBrown: #87421d;
  --primaryLightGrey: #d8d2d4;
  --primarySand: #f4cdae;
  --primaryDarkLiver: #554348;
  --primaryDeepTaupe: #795663;
  --primarySeashell: #fdf4ed;
  --primaryUnbleachedSilk: #f9ddc8;
}

body {
  background-color: var(--primaryLightGrey);
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.brandingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logoContainer {
  width: 7rem;
  height: auto;
  grid-column: 1 / 2;
  justify-self: end;
}

.logo {
  width: 100%;
  height: auto;
}

.companyNameContainer {
  grid-column: 2 / 3;
  display: grid;
  align-items: center;
}

.companyName {
  color: var(--primarySaddleBrown);
  font-size: 1.3rem;
  font-family: "Julius Sans One", sans-serif;
}

.imageBannerContainer {
  width: 100%;
  height: 8rem;
  background-image: url("./images/headerImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 75%;
  margin-bottom: 2rem;
}

.toolbar {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: var(--primarySaddleBrown);
  display: grid;
  justify-items: center;
}

.filter {
  margin-bottom: 0.5rem;
}

.select {
  font-family: inherit;
  color: var(--primarySaddleBrown);
  background-color: var(--primarySeashell);
  border: 1px solid var(--primarySand);
  border-radius: 0.125rem;
  font-weight: 300;
}

.productGrid {
  list-style: none;
  padding: 0;
}

.productCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto 1.5rem auto;
  border-radius: 0.125rem;
  background-color: var(--primaryUnbleachedSilk);
  width: 80%;
  color: var(--primarySaddleBrown);
  z-index: 2;
  position: relative;
}

.productPhoto {
  width: 100%;
  height: auto;
}

.featured {
  background-color: var(--primaryDeepTaupe);
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  z-index: 1;
  position: absolute;
  display: inline-block;
  top: 1rem;
  right: 1rem;
  font-size: 0.9rem;
}

.textContainer {
  padding: 1.2rem;
}

.productName {
  color: var(--primarySaddleBrown);
  font-size: 1.4rem;
}

.productPrice {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primaryDarkLiver);
}

.productDescription {
  font-weight: 300;
  font-size: 1.3rem;
}

.buttonContainer {
  display: grid;
  align-items: center;
}

.button {
  text-align: center;
  border: none;
  background-color: white;
  color: var(--primaryDarkLiver);
  font-family: inherit;
  font-size: 1.2rem;
  display: inline;
  padding: 0.5rem;
}

.button:hover,
.buttonContainer:hover {
  cursor: pointer;
  color: var(--primaryLightGrey);
  background-color: var(--primaryDeepTaupe);
}

@media only screen and (min-width: 48rem) {
  .imageBannerContainer {
    height: 12rem;
  }
  .companyName {
    font-size: 1.8rem;
  }
  .productGrid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .productCard {
    width: 100%;
    display: grid;
  }
  .textContainer {
    padding: 1.5rem;
  }
  .buttonContainer {
    display: grid;
    align-self: end;
  }
  .button {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 64rem) {
  .logoContainer {
    width: 15rem;
  }
  .imageBannerContainer {
    height: 20rem;
  }

  .toolbar {
    margin-bottom: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    font-size: 1.5rem;
  }

  .filter {
    grid-column: 1 / 2;
    justify-self: end;
  }

  .sortBy {
    grid-column: 2 / 3;
    justify-self: start;
  }

  .select {
    font-size: 1.3rem;
    padding: 0.3rem;
  }

  .companyName {
    font-size: 2.8rem;
  }
  .productGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .featured {
    padding: 0.7rem;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1rem;
  }
  .textContainer {
    padding: 2rem;
  }
  .productName {
    font-size: 2rem;
    margin-top: 0;
  }
  .productDescription {
    font-size: 1.5rem;
  }
  .productPrice {
    font-size: 1.7rem;
  }
  .button {
    font-size: 2rem;
    padding: 0.8rem;
  }
}
